@import "../../../../mixins";

.brand-introduction {
  margin: 20px;
}

.feature-products {
  @include flex-list(3);

  @include breakpoint("lg") {
    @include flex-list(2);
  }

  @include breakpoint("xl") {
    @include flex-list(1);
  }
}

.section {
  margin-top: 70px;
  padding: 0 20px;
}

.highlight-container {
  [class^="flex-row"] {
    gap: 40px;
  }
}
