@import "../../../mixins";
@import "../../../palette";

:host {
  z-index: 100;
}

mat-toolbar {
  mat-toolbar-row {
    justify-content: center;
    align-items: center;
    height: 40px;

    &:first-child {
      height: 80px;
    }
  }
}

.container {
  flex: 1;
  align-items: center;
}

.header-container {
  gap: 50px;

  .brand {
    align-items: center;

    .logo {
      margin-right: 10px;
      display: flex;
      align-items: center;

      img {
        max-width: 60px;
        border-radius: 50%;
      }
    }

    .title {
      font-size: 24px;
    }
  }

  .menu {
    gap: 0px;

    .menu-item {
      .active-menu {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: map-get($map: $wedding-red, $key: 700);
          position: relative;
          left: 0;
        }
      }
    }
  }

  .action-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  @include breakpoint("lg") {
    gap: 0;
    justify-content: space-between;

    .action-buttons {
      flex: 0;
    }
  }

  @include breakpoint("md") {
    .brand {
      .logo {
        img {
          max-width: 40px;
        }
      }
    }
  }
}
