:host {
  z-index: 100;
}

mat-toolbar {
  mat-toolbar-row {
    justify-content: center;
    align-items: center;
    height: 40px;

    &:first-child {
      height: 80px;
    }
  }
}

.container {
  flex: 1;
  align-items: center;
}

.page-logo {
  margin-right: 10px;
  display: flex;
  align-items: center;

  img {
    max-width: 60px;
    border-radius: 50%;
  }
}

.page-title {
  font-size: 24px;
}
