<div class="banner-container">
  <div class="flex-container center">
    <div class="container banner-content text-content">
      <div class="content flex-column">
        <h2 class="flex-item">Kinh Đô Thiệp Cưới</h2>
        <span class="flex-item">
          Mô tả trang web Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Reprehenderit esse magnam ullam natus minima fugiat qui saepe
          doloremque expedita? Eos blanditiis praesentium id excepturi quidem
          quod maiores eum veniam cum.
        </span>
        <div class="flex-item call-to-action">
          <a mat-flat-button color="primary" routerLink="/cards">
            Xem thiệp cưới
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
