$container-max-width: 1200px;

$breakpoint-xs: 320px; // Mobile S
$breakpoint-xm: 375px; // Mobile M
$breakpoint-xl: 425px; // Mobile L
$breakpoint-md: 768px; // Tablet
$breakpoint-lg: 1024px; // Desktop
