@import "global-vars";
@import "mixins";

$breakpoint-keys: "xs", "xm", "xl", "md", "lg";

.d-flex {
  display: flex;
}

.flex-center {
  @extend .d-flex;
  justify-content: center;
}

.flex-column {
  @extend .d-flex;
  flex-direction: column;
}

.flex-row {
  @extend .d-flex;
  flex-direction: row;

  @each $bp-key in $breakpoint-keys {
    &-#{$bp-key} {
      @extend .flex-row;
      @include breakpoint($bp-key) {
        flex-direction: column;
      }
    }
  }
}

.flex-row,
.flex-column {
  $gaps: 1, 2, 3, 4;
  @each $gap in $gaps {
    .gap-#{$gap} {
      gap: $gap * 1rem;
    }
  }

  .flex-2-3 {
    flex-grow: calc(2 / 3);
  }
}

.flex-item {
  flex: 1;
}

.hide {
  display: none;

  @each $bp-key in $breakpoint-keys {
    &-#{$bp-key} {
      @extend .hide;
      @include breakpoint($bp-key) {
        display: block;
      }
    }
  }
}

.show {
  @each $bp-key in $breakpoint-keys {
    &-#{$bp-key} {
      @include breakpoint($bp-key) {
        display: none;
      }
    }
  }
}
