@import "global-vars";
@import "mixins";

.d-flex {
  display: flex;
}

.flex-center {
  @extend .d-flex;
  justify-content: center;
}

.flex-column {
  @extend .d-flex;
  flex-direction: column;
}

.flex-row {
  @extend .d-flex;
  flex-direction: row;

  &-xs {
    @extend .flex-row;
    @include breakpoint("xs") {
      flex-direction: column;
    }
  }

  &-xm {
    @extend .flex-row;
    @include breakpoint("xm") {
      flex-direction: column;
    }
  }

  &-xl {
    @extend .flex-row;
    @include breakpoint("xl") {
      flex-direction: column;
    }
  }
  &-md {
    @extend .flex-row;
    @include breakpoint("md") {
      flex-direction: column;
    }
  }
  &-lg {
    @extend .flex-row;
    @include breakpoint("lg") {
      flex-direction: column;
    }
  }
}

.flex-item {
  flex: 1;
}
