<div class="footer-container flex-container center">
  <div class="container flex-column">
    <div class="flex-row-md footer-content">
      <div class="flex-item">
        <div class="flex-column">
          <h3>Giới thiệu công ty</h3>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ipsum
            velit adipisci debitis voluptatibus quas asperiores voluptate,
            possimus dolorum exercitationem neque voluptatem vel minima eveniet
            laboriosam maxime saepe similique et?
          </span>
        </div>
      </div>
      <div class="flex-item">
        <h3>Chi nhánh</h3>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ipsum
          velit adipisci debitis voluptatibus quas asperiores voluptate,
          possimus dolorum exercitationem neque voluptatem vel minima eveniet
          laboriosam maxime saepe similique et?
        </span>
      </div>
      <div class="flex-item">
        <h3>Liên hệ</h3>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ipsum
          velit adipisci debitis voluptatibus quas asperiores voluptate,
          possimus dolorum exercitationem neque voluptatem vel minima eveniet
          laboriosam maxime saepe similique et?
        </span>
      </div>
    </div>
    <div class="copyright text-center">©2022, Kinh Đô Thiệp Cưới</div>
  </div>
</div>
